div#importCsvSteps{
    background-color: #fff;
    border:1px solid #CCCCCC;
    padding:12px;
}

div#importCsvSecondStep, div#importCsvThirdStep, span#importCsvBread1, span#importCsvBread2{
    display: none;
}

span.importCsvError{
    color:#ff0404;
}

table.importCsvTable{
    background-color: #f4f3f2;
}

table.importCsvTable td{
    background-color: #fff;
}