div.FileManagerWidgetNav{
height:30px;
border:1px solid #CCCCCC;
}

div.FileManagerWidgetOption{
clear:both;
height:30px;
border:1px solid #CCCCCC;
}

div.FileManagerWidgetWorkArea{
height:400px;
border:1px solid #CCCCCC;
}

div.FileManagerWidgetWorkAreaLeft{
height:400px;
border-right:1px solid #CCCCCC;
width:170px;
float:left;
}

div.FileManagerWidgetWorkAreaRight{
height:400px;
border-left:1px solid #CCCCCC;
width:20px;
float:right;
}

div.FileManagerWidgetWorkAreaCenter{
height:400px;
margin:0 21px 171px;
}

div.FileManagerWidgetOne{
width:200px;
float:left;
}